<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Pix</title>
    <style>
    .boxQrcode {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        align-items: center;
    }
    </style>
</head>
<body>
    <div class="boxQrcode">
        <h3>QRCODE</h3>
        <img src="<%= qrcodeImage %>" alt="" srcset="">
    </div>
</body>
</html>